*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header {
    padding: 20px 30px;
    border-bottom: none;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: bold;
}

#HASH {
    display: flex;
    justify-content: space-between;

}

main{
    justify-content: center;
    text-align: center;
}
